<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Living Style Library | {{site.name}}</title>
		{{> site-styles}}
		<style>
			html {
				height: 100%;
			}

			body{
				height: 100%;
			}
			footer{
				display: none;
			}
		</style>
	</head>
	<body>
		{{> top-nav}}

		<div class="container-fluid">
			<div id="page-view"></div>
		</div>

		{{> footer}}
		{{> site-scripts}}
		<script src="living-style-library.js"></script>
		<script>
			$(document).ready(function(){
				$('.lsl-nav').addClass('active');
				window.livingStyleLibraryView = new lsl.views.LivingStyleLibraryView({});
				$('#page-view').append(window.livingStyleLibraryView.el);

				$('.iframe-wrapper').height( $('.content-col').height() - ( $('.iframe-controls').height() + 20) );
			});
			$( window ).resize(function() {
				$('.iframe-wrapper').height( $('.content-col').height() - ( $('.iframe-controls').height() + 20) );
			});
		</script>
	</body>
	{{> copyright}}
</html>
