<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Living Style Library | {{site.name}}</title>
		{{> site-styles}}
		<link rel="stylesheet" type="text/css" href="/compiled-css/lsl/living-style-library.css" />
	</head>
	<body>
		{{> top-nav}}

		<div class="container-fluid">
			<div id="page-view"></div>
		</div>

		{{> footer}}
		{{> site-scripts}}
		<script src="living-style-library.js"></script>
		<script>
			$(document).ready(function(){
				$('#top-nav-bottom li.tools a').addClass('active');
				window.livingStyleLibraryView = new lsl.views.LivingStyleLibraryView({});
				$('#page-view').append(window.livingStyleLibraryView.el);
			});
		</script>
	</body>
	{{> copyright}}
</html>