<div id="footer">
	<div class="container-fluid full-bleed-container">		
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<a href="/">
					Footer Logo
					<!-- <img id="footer-logo" alt="Footer Logo" src="/static/logo_footer.png"> -->
				</a>
			</div>
			<div id="copyright-col" class="col-xs-12 col-sm-4 col-sm-offset-4">
				Copyright 2014 <a href="{{organization.url}}">{{organization.name}}</a><br />
				All Rights Reserved
			</div>
		</div>		
	</div>
</div>