<div id="footer">
	<div class="container-fluid full-bleed-container">		
		<div class="row">
			<div class="col-sm-4">
				<a href="/">
					<img id="footer-logo" alt="Footer Logo" src="/static/logo_footer.png">
				</a>
			</div>
		</div>		
	</div>
</div>