<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/jquery.cookie/jquery.cookie.js"></script>
<script src="/lib/underscore/underscore.js"></script>
<script src="/lib/laconic/laconic.js"></script>
<script src="/lib/bootstrap/bootstrap.js"></script>
<script src="/lib/backbone/backbone.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/api/static/js/skella-api.js"></script>
<script src="/site.js"></script>
<script src="/log/log.js"></script>

<!-- remove for production -->
<script src="/echo/echo.js"></script>

