<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery.cookie/jquery.cookie.js"></script>
<script src="/lib/underscore/underscore.js"></script>
<script src="/lib/laconic/laconic.js"></script>
<script src="/lib/bootstrap/bootstrap.js"></script>
<script src="/lib/backbone/backbone.js"></script>
<script src="/site.js"></script>
<script src="/coss/coss.js"></script>


