<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{site.name}}</title>
		{{> site-styles}}
		<style>
			#skella-logo {
				margin-top: 30px;
			}
		</style>
	</head>
	<body>
			{{> top-nav}}		
			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
							<img id="skella-logo" width="300" height="300" src="/Skella-logo-300.png" />
						</div>
					</div>
				</div>
			</div>
			{{> footer}}
			{{> site-scripts}}
			<script>
				$(document).ready(function(){
					$('.home-nav').addClass('active');
				});
			</script>
	</body>
	{{> copyright}}
</html>
