<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{site.name}}</title>
		{{> site-styles}}
	</head>
	<body>
			{{> top-nav}}		
			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div id="flip-col" class="col-xs-12 col-sm-offset-2 col-sm-8">
						</div>
					</div>
				</div>
			</div>
			{{> footer}}
			{{> site-scripts}}
			<script>
				$(document).ready(function(){
					$('.home-nav').addClass('active');

					window.saints = new coss.api.Saints();
					window.daysFlipView = new coss.views.DaysFlipView({
						'saints': window.saints
					});
					$('#flip-col').append(window.daysFlipView.render().el);
					window.saints.fetch({
						error: function(){ console.log("Error loading saints", arguments); }
					});

					Backbone.history.start();
				});
			</script>
	</body>
	{{> copyright}}
</html>
