@import "bootstrap.less";
@import "variables.less";
@import "lsl/living-style-library.less";
@import "example/log/admin/admin.less";

@footer-height: 80px;

html {
	min-height: 100%;
	position:relative;
}

body{
	min-height: 100%;
	padding-bottom: 130px;
}

.container-fluid, #page-view, .living-style-library-view, .content-col{
	height: 100%;
}

.home-nav i {
	font-size: 0.65em;
	color: #CF4A30;
}

.resize-button-groups > .btn-group{
	margin: 10px;
}

#page-wrapper {
	padding-top: 20px;
	padding-bottom: @footer-height;
}

#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-color: #0F0;
	background-color: @navbar-default-bg;
	color: @navbar-default-color;
	a {
		color: @navbar-default-color;
	}
	a:hover { text-decoration: none; }
	height: @footer-height;
	.container-fluid {
		padding-top: @navbar-padding-vertical;
		padding-bottom: @navbar-padding-vertical;
	}
}

#footer-logo {
	max-width: 60%;
}

#copyright-col {
	font-size: 10px;
	text-align: right;
	a {
		text-decoration: underline;
	}
}
@media (max-width: @screen-xs-max) {
	#copyright-col { text-align: left; }
}

.bg-gray-darker { background-color: @gray-darker }
.bg-gray-dark { background-color: @gray-dark }
.bg-gray { background-color: @gray }
.bg-gray-light { background-color: @gray-light }
.bg-gray-lighter { background-color: @gray-lighter }


// Clear shadow stuff
input.form-control,
input.form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-transition: none;
	-webkit-transition: none;
}

.form-subhead{
	@media (min-width: @screen-sm){
		margin-bottom: 20px;
	}
}

.form-horizontal{
	padding-bottom: 20px;

	.control-label {
		.make-sm-column(2);

		color: @gray;
		font-weight: 500;
		margin-bottom: 0;

		@media (min-width: @screen-sm){
			width: 140px;
		}
	}
	.form-control-col {
		.make-sm-column(5);
	}
}

.form-horizontal .control-label {
	text-align: left;
}

.form-group{
	margin-bottom: 20px;
	@media (min-width: @screen-sm){
		margin-bottom: 6px;
	}
}

.radio-group{
	.clearfix();

	margin-bottom: 20px;

	@media (min-width: @screen-sm){
		margin-bottom: 20px;
	}
}

// Placeholder text is all proprietary:
.form-control:-moz-placeholder {
	font-style: italic;
}
.form-control::-moz-placeholder {
	font-style: italic;
}
.form-control:-ms-input-placeholder {
	font-style: italic;
}
.form-control::-webkit-input-placeholder {
	font-style: italic;
}

.form-control {
	color: @gray;
	border-color: @gray-lighter;
	height: 28px;
	font-size: inherit;
	max-width: 400px;
	padding: 0px 9px 1px;
	margin-top: 10px;

	@media (min-width: @screen-sm){
		margin-top: 0;
		height: 24px;
		padding: 0px 8px 1px;
	}
}

.form-buttons {
	max-width: 400px;

	& button:last-of-type {
		.pull-right;
	}

	@media (min-width: @screen-sm){
		max-width: 230px;
	}
}

.form-control-static{
	@media (min-width: @screen-sm){
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
	}
}

.form-offset{
	.make-sm-column(5);

	@media (min-width: @screen-sm){
		margin-left: 140px;
	}
}

label {
	font-weight: inherit;
}

.checkbox {
	@media (min-width: @screen-sm){
		margin-left: 15px;
	}

	> label {
		font-weight: 300;
	}
}

.page-login-view {
	.error {
		padding: 15px;
		text-align: center;
		color: @brand-warning;
	}
	.input-form-group {
		label {
			.make-sm-column(2);
		}
		.input-wrapper {
			.make-sm-column(10);
		}
	}
	.checkbox-form-group {
		.checkbox-wrapper {
			.make-sm-column-offset(2);
			.make-sm-column(10);
		}
	}
	.submit-form-group {
		.submit-wrapper {
			.make-sm-column-offset(2);
			.make-sm-column(10);
		}
	}
}

.model-saving-view {
	.error-icon {
		color: @brand-warning;
	}
}

.user-editor-view {
	.model-saving-view {
		float: right;
	}
}

.user-image-editor-view {
	.user-image {
		width: 200px;
		height: 200px;
		margin-bottom: 15px;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.api-doc-view {
	.endpoint-view {
		margin-bottom: 40px;
		h2 { margin: 0; }
		h3 { margin: 5px 0; }
		.description { margin-bottom: 5px; }
		th, td { padding-right: 10px; }
	}
}

/*
	Copyright 2014 Podipo LLC, All Rights Reserved
	See https://github.com/podipo/skella/blob/master/LICENSE for licensing information.
*/
